#d3-graph-wrapper {
	position: relative;
	top: -225px;
}

#d3-graph {
	height: 200px;
	z-index: 3;
}

#graph-spacer {
	z-index: 0;
}

svg {
	font: 10px sans-serif;
}

.y.axis path {
	display: none;
}

.y.axis line {
	stroke: #000;
	stroke-opacity: .3;
	shape-rendering: crispEdges;
}

.y.axis .major line {
	stroke: #000;
	stroke-opacity: 1;
}

.infoBox {
	font: 16px Helvetica Neue;
}

.title {
	font: 300 78px Helvetica Neue;
	fill: #666;
}

.day {
	fill: #fff;
}

#graph-info {
	position: absolute;
	top: -100px;
	height: 30px;
	text-align: center;
	padding: 10px;
	color: white;
}

rect {
	fill-opacity: .6;
	fill: #0D8ECF;
	cursor: pointer;
}

rect:first-child {
	fill: #1f77b4;
}