<!DOCTYPE html>
{% load compress %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/graph.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/joyride-2.0.2.css">
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery-ui.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0fbVwcr2LQZho14TG7BgNq3x5Cx53kw0&sensor=true&libraries=visualization">
    </script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript">
      var static_file_url = "{{ STATIC_URL }}";
    </script>

    <script type="text/javascript"src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript"src="{{ STATIC_URL }}js/tray.js"></script>
    <script type="text/javascript"src="{{ STATIC_URL }}js/rgb.js"></script>
    <script type="text/javascript"src="{{ STATIC_URL }}js/slider.js"></script>
    <script type="text/javascript"src="{{ STATIC_URL }}js/graph.js"></script>
    <script type="text/javascript"src="{{ STATIC_URL }}js/modal.js"></script>
    <script type="text/javascript"src="{{ STATIC_URL }}js/jquery.joyride-2.0.2.js"></script> 

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36887057-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"></h3>
      </div>
      <div class="modal-body"></div>
    </div>
    <div id="top-nav">
      <div id="search_wrapper">
        <form class="navbar-search pull-left" onsubmit="searchLocation(); return false;">
          <input id="search-input" type="text" class="search-query" placeholder="Search">
        </form>
      </div>
    </div>
    <div id="tray">
      <div id="tray-handle">+</div>
      <div id="d3-graph-wrapper" class="row-fluid">
        <div id="graph-spacer" class="span1"></div>
        <div class="span11">
          <div id="d3-graph"></div>
        </div>
      </div>
      <div id="tray-full-wrapper">
        <div id="tray-play-wrapper" class="row-fluid">
          <div class="row-fluid">
            <div class="span1" style="text-align: center">
              <a id="tray-play" href="#"><img src="{{ STATIC_URL }}img/playbutton.png" /></a>
            </div>
            <div class="span10">
              <div id="slider-wrapper">
                <div id="slider"></div>
              </div>
            </div>
            <div class="span1">&nbsp;</div>
          </div>
        </div>
        <div id="tray-content-wrapper" class="row-fluid">
          <div class="row-fluid">
            <div id="start_date_wrapper">
              <input type="text" name="start_date" id="start_date" />
            </div>
            <div id="end_date_wrapper">
              <input type="text" name="end_date" id="end_date" />
            </div>
          </div>
          <div class="row-fluid">        
            <div id="heatmaptoggle_wrapper">
              <button class="btn btn-primary" type="button" onclick="toggleHeatmap()">Toggle Heatmap</button>
            </div>
            <div id="pathtoggle_wrapper">
              <button class="btn btn-primary" type="button" onclick="getHeatMapModel()">Toggle Paths</button>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span5" id="stats-box">
              <div class="row-fluid" id="stats-content">
                <div class="span6">
                  <b>Location: San Francisco, CA</b>
                  <p>Average Age: 33.67</p>
                  <p>Total Fuel: 89,302</p>
                  <p>Total Distance: 214,047 mi</p>
                </div>
                <div class="span6">
                  <p>Total Time Spent: 5,322 hrs</p>
                  <p>Total Runs: 4,216</p>
                </div>
              </div>
            </div>
            <!--<div class="span7" id="graph-box">
              <img src="{{ STATIC_URL }}img/graph.png" />
            </div>-->
          </div>
        </div>
      </div>
    </div>

    <div id="map_canvas"></div>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> Test Alert.
    </div>
    <script type="text/javascript">
      var modal = new Modal ({
        modal: $('#myModal')
      });
      var slider = new Slider ({
        slider: $("#slider")
      });
      var tray = new Tray ({
        tray: $("#tray"),
      });
      var graph = new Graph ({
        graph: $("#d3-graph"),
        graphDivName: "#d3-graph"
      });
      $(function() {
        $( "#start_date" ).datepicker().datepicker("setDate", new Date("2/1/2012"));
        $( "#end_date" ).datepicker().datepicker("setDate", new Date());
      });
    </script>
  </body>
</html>
