#d3-graph-wrapper {
	position: relative;
	top: -220px;
}

#d3-graph {
	height: 200px;
	z-index: 3;
}

#graph-spacer {
	z-index: 0;
}

svg {
	font: 10px sans-serif;
}

.y.axis path {
	display: none;
}

.y.axis line {
	stroke: #fff;
	stroke-opacity: .2;
	shape-rendering: crispEdges;
}

.y.axis .major line {
	stroke: #000;
	stroke-opacity: 1;
}

.title {
	font: 300 78px Helvetica Neue;
	fill: #666;
}

.birthyear, .age {
	text-anchor: middle;
}

.birthyear {
	fill: #fff;
}

rect {
	fill-opacity: .6;
	fill: #e377c2;
}

rect:first-child {
	fill: #1f77b4;
}