html { 
	height: 100%;
}

body { 
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden; 
}

.btn-circle {
	border-radius: 25px;
	width: 15px;
	height: 15px;
}

#map_canvas { 
	height: 100%;
	width: 100%;
	z-index: 1;
	opacity: 1;
}

#top-nav {
	position: absolute;
	z-index: 2;
	right: 130px;
}

.search-query {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) !important;
	border: 1px solid #717B87 !important;
	border-radius: 0px !important;
}

#tray {
	width: 100%;
	height: 200px;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	z-index: 2;
}

#tray-full-wrapper {
	top: -30px;
	position: relative;
}

#tray-content-wrapper {
	position: relative;
	padding: 0px 42px;
}

#tray-play-wrapper {
	position: relative;
}

#pathtoggle_wrapper, #heatmaptoggle_wrapper {
	float: left;
	margin-right: 20px;
}

#stats-box {
	position: relative;
	top: 15px;
	background-color: white;
	border: 1px solid #DDD;
	min-height: 95px;
	border-radius: 4px;
}

#stats-content{
	padding: 10px;
}

#stats-content p {
	margin-bottom: -2px;
}

#tray-handle {
	width: 30px;
	height: 30px;
	position: relative;
	top: -30px;
	left: 80px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 24pt;
	cursor: pointer;
	/* Don't let the user highlight. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#graph-box img {
	top: -30px;
	position: relative;
	height: 142px;
	width: 512px;
}

#tray-play {
	text-align: center;
	padding-left: 25px;
}

#tray-progress-wrapper {
	position: relative;
	top: 13px;
}

#slider-wrapper {
	position: relative;
	top: 16px;
}

#start_date_wrapper {
	position: relative;
	display: inline-block;
	float: left;
	width: 79%;
}

#end_date_wrapper {
	position: relative;
	display: inline-block;
	margin-left: 3px;
}

#start_date {
	width: 85px;
}

#end_date {
	width:85px;
}

.centered {
  display: inline-block;
  vertical-align: middle;
 }​

